

.cWork{

    background-color: green;
    font-size: large;
    padding:0%
}


.cSkill{
    background-color: yellow;
    font-size: large;
    padding:0%
}



.cAbout{
    background-color: blue;
    font-size: large;
    padding:0%
}

.cFooter{
    
    background-color: red;
    font-size: large;
    padding:0%

}