:root{

    --MyDisplayName: "Ian Logendra";
  
    /*
    Can't pass variables into media queries so these can't be used
    --MobileWidth: 786px;
    --PCWidth: 1240px; */
  
    --MobileWorkColumns:1;
    --TabletWorkColumns:1;
    --PCWorkColumns:2;
  
    --bgcolor: white;
  
    --HeaderBGColor:rgb(44, 44, 44); 
    --HeaderMyNameColor:rgb(44, 44, 44); 
    --HeaderMyNameBGColor:rgb(80, 105, 113); 
    --HeaderNavAColor:rgb(163, 196, 238);
  
    --MainPageTextColor: rgb(32, 91, 111); 
  
    --HeroBannerBGColor:white; 
    --HeroBannerHeight:15%;
    --HeroPosition:60%;


    --NavPosition:0%;
    --NavHeight:50px;
    
  }


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 0;
}

p {
  margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* line-height: 1.5; */
   
  
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    background-color:var(--HeaderBGColor);
    /* padding-bottom: .5%;
    padding-top: .25%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: var(--NavHeight);
   
  }
  
  #MyHeaderName {
    color:var(--HeaderMyNameColor);
    background-color: var(--HeaderMyNameBGColor);
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important; 
    font-size: large;
    height: var(--NavHeight);
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bolder;
  }

  #WCH {
    text-align: center;
    justify-content: center;
  }

  .nav {

  height: 50px !important;
  }

  .nav-item {

    height: 50px;
    
  }

NavContainer{
   display: flex;
  flex-direction: row;
  height:var(--NavHeight);
  align-items:flex-end;
  margin-left: auto;
  
}

  .nav-link {
    padding: .5rem .5rem !important;
    align-items: center ip !important;
    color:aqua;
    
  } 

a{height: var(--NavHeight);}

  .active {
    height: var(--NavHeight);
  }

.nav-right {
  align-content:flex-end;
}

  nav ul {
    height: var(--NavHeight);
    display: flex;
    justify-content: space-between;
    min-width: 400px;
    padding-right:5%; 
    list-style-type: none;
    /* min-height: 100px; */
  }

  nav a {
    /* height: var(--NavHeight); */
    color: var(--HeaderNavAColor);
    font-size:medium;
    font-weight: bold;
    text-decoration: underline solid;
    text-decoration-thickness: 20% ;
   
    
  }

  nav a:hover {
    color: #fff;
  }

  
.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: Var(--HeroBannerBGColor);
    height: var(HeroBannerHeight);
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url("../Images/cool-background.png") ;
    /* position:  absolute; */
    /* top:15%; */
    position: var(--HeroPosition);
    background-size: cover;    
    width:100% ;
    text-align: center;
  }
  

.cWork{

    background-color: green;
    font-size: large;
    padding:0%
}


.cSkill{
    background-color: yellow;
    font-size: large;
    padding:0%
}



.cAbout{
    background-color: blue;
    font-size: large;
    padding:0%
}

.cFooter{
    
    background-color: red;
    font-size: large;
    padding:0%

}


